{#=== Options ============================================================================#}
{% set hidden = 'text' %}
{% if field.hidden is defined %}
    {% set hidden = field.hidden ? 'hidden' : 'text' %}
{% endif %}

{% set attr_opt = {
    class:              field.class|default('form-control large faicon'),
    id:                 key,
    name:               name,
    required:           field.required|default(false),
    readonly:           field.readonly|default(false),
    type:               hidden,
    'data-placement':   field.placement|default(false),
    'data-config':      field.configs|default({})|json_encode|raw,
    'data-icon-class':  field.icon_class|default('fa')
}%}

{% set component = field.component|default(false) %}

{#=== FIELDSET ============================================================================#}

<fieldset class="faiconpicker form-group bolt-field-text">
    <legend class="sr-only">{{field.label|default(labelkey)}}</legend>
    <label class="main control-label col-xs-6 control-label">{{field.label|default(labelkey)}}: </label>
    <div class="col-xs-6">
        {% if component != false %}
        <div class="input-group">
            <span class="input-group-addon"></span>
            {% endif %}
            <input {{ macro.attr(attr_opt) }} value="{{ context.content.get(contentkey)|default(field.default) }}" />
            {% if component != false %}
        </div>
        {% endif %}
    </div>
</fieldset>
